/**
 * Layout styles
 * =============
 */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.header-search .mdl-textfield__label {
  color: rgba(255, 255, 255, .5);
}

/*
 * Make the map occupy the whole screen, except for the header.
 * ----------------------------------------------------------- */

#map {
  height: 100%;
}

/*
 * Map controls.
 * ----------------------------------------------------------- */

#map-controls {
  background: #fafafa;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
  color: #757575;
  margin: 10px;
  min-width: 150px;
  padding: 10px;
}

/*
 * Map controls: availability options.
 * ----------------------------------------------------------- */

.availability-options {
  margin: 0;
  padding: 0;
}

.availability-options li {
  list-style-type: none;
  padding: 1px 0;
}

.availability-options label {
  cursor: pointer;
}

.availability-options img {
  height: 12px;
  vertical-align: baseline;
}

#map-controls .spacer {
  margin-top: 15px;
}

/*
 * Map controls: auto-refresh options.
 * ----------------------------------------------------------- */

.slider-wrapper {
  text-align: center;
  margin-top: 15px;
  width: 150px;
}
