/**
 * Layout styles
 * =============
 */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/*
 * Generic rules.
 * ----------------------------------------------------------- */

.text-center {
  text-align : center;
}

.hidden {
  display: none;
}

/*
 * Header.
 * ----------------------------------------------------------- */

.header-search .mdl-textfield__label {
  color: rgba(255, 255, 255, .5);
}

/*
 * Make the map occupy the whole screen, except for the header.
 * ----------------------------------------------------------- */

#map {
  height: 100%;
}

/*
 * Map controls.
 * ----------------------------------------------------------- */

#map-controls {
  background: #fafafa;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
  color: #757575;
  font-size: 14px;
  margin: 10px;
  padding: 10px;

  /* Width */
  min-width: 200px;
  max-width: 350px;
  width: 350px;

  /* Height */
  max-height: calc(100vh - 75px);
  overflow-y: scroll;
}

/*
 * Map controls: availability options.
 * ----------------------------------------------------------- */

.availability-options {
  margin: 0;
  padding: 0;
}

.availability-options li {
  list-style-type: none;
  padding: 1px 0;
}

.availability-options label {
  cursor: pointer;
}

.availability-options img {
  height: 12px;
  vertical-align: baseline;
}

#map-controls .spacer {
  margin-top: 15px;
}

/*
 * Map controls: auto-refresh options.
 * ----------------------------------------------------------- */

.slider-wrapper {
  text-align: center;
  margin-top: 15px;
  width: 150px;
}

#establishment-controls input[type=checkbox] {
  vertical-align: top;
}

/*
 * Checkins.
 * ----------------------------------------------------------- */

.checkIn-btn,
.route-checkin-btn {
  margin-left: 10px;
}

/*
 * Map controls: pricing and date filters.
 * ----------------------------------------------------------- */

.txt-price-bound {
  display:inline-block;
  width: 25px;
}

.price-slider-container p {
  display: inline-block;
  width:270px;
}
