html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#menu {
  background: #4CAF50;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
  width: 80%;
  z-index: 1;
}

#map {
  height: 100%;
}
