<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Search box -->
      <form id="header-search" action="#" autocomplete="off">
        <div class="mdl-textfield mdl-js-textfield">
          <input id="search-field" class="mdl-textfield__input" type="text" name="address" autocomplete="on">
        </div>
      </form>

      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>

      <!-- Add share location button-->
      <button id="location-button" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored location-button">
        <i id="geo-icon" class="mdl-icon-toggle__label material-icons">gps_fixed</i>
      </button>

      Smart Parking
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Menu</span>
    <nav class="mdl-navigation">
      <a id="link-signin" class="mdl-navigation__link" href="#">Sign in or sign up</a>
      <a id="link-signout" class="mdl-navigation__link" href="#" style="display: none;">Sign out</a>
      <a class="mdl-navigation__link" href="">Show filters</a>
      <a class="mdl-navigation__link" href="">Show legend</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
      <div id="map">
      </div>

      <div id="map-controls" style="display: none;">
        <span><strong>Filter by availability</strong></span>
        <hr>
        <ul class="availability-options">
          <li>
            <label>
              <%= image_tag "icons/circle-green.svg" %>
              <input class="checkbox-filter" type="checkbox" data-status="available" checked="checked"/>Available
            </label>
          </li>
          <li>
            <label>
              <%= image_tag "icons/circle-red.svg" %>
              <input class="checkbox-filter" type="checkbox" data-status="occupied" checked="checked"/>Occupied
            </label>
          </li>
          <li>
            <label>
              <%= image_tag "icons/circle-gray.svg" %>
              <input class="checkbox-filter" type="checkbox" data-status="defected" checked="checked"/>Defected
            </label>
          </li>
        </ul>

        <div class="spacer"></div>

        <!-- Refresh controls -->
        <span><strong>Auto-refresh</strong></span>
        <hr>
          <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-1">
            <input type="checkbox" id="switch-1" class="refresh-switch mdl-switch__input">
            <span class="mdl-switch__label">OFF</span>
          </label>
          <div class="slider-wrapper" style="display: none;">
            <input id="time-slider" class="mdl-slider mdl-js-slider" type="range" min="0" max="60" step="1" value="10" tabindex="0">
            <span class="mdl-slider__label">Refresh interval<br><span>30s</span></span>
          </div>

        <div class="spacer"></div>

        <!-- Establishment controls -->
        <div id="establishment-controls" style="display: none;">
          <span><strong>Establishment options</strong></span>
          <hr>
          <label>
            <input type="checkbox"/>Show establishment spots only
          </label>
        </div>

<!--         <div id="show-estab-spots-div">
          <input type="checkbox" id="show-spot-chkbox" name="spot-chkbox">
          Show establishment spots only
         <br>
       </div> -->

      </div>

      <!-- Message Display Dialog-->
      <dialog id="dialog-msg" class="mdl-dialog">
        <div class="mdl-dialog__content">
          <p></p>
        </div>
        <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
          <button id="dialog-button" type="button" class="mdl-button close-msg">Ok</button>
        </div>
      </dialog>

      <!-- Loader Display Dialog-->
      <dialog id="dialog-loader" class="mdl-dialog">
        <div class="mdl-dialog__content">
          <div class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
        </div>
      </dialog>

      <!-- Login form Dialog-->
      <dialog id="dialog-form">
        <!-- Close (x) button -->
        <div class="close-wrapper">
          <button class="mdl-button mdl-js-button close-form">
            <i class="material-icons">close</i>
          </button>
        </div>
        <div class="mdl-card mdl-shadow--2dp wrapper">
          <div class="mdl-card__title text-center">
            <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
              <div class="mdl-tabs__tab-bar">
                <a id="tab-login" tabindex="-1" href="#panel" class="mdl-tabs__tab is-active">Sign in</a>
                <a id="tab-signup" tabindex="-1" href="#panel" class="mdl-tabs__tab">Sign up</a>
              </div>
              <!-- This empty div is necessary for tab element to work -->
              <div id="panel" class="mdl-tabs__panel is-active panel"></div>
            </div>
          </div>
          <div class="mdl-card__supporting-text">
            <form action="#">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                <input class="mdl-textfield__input" type="text" id="txt-email" />
                <label class="mdl-textfield__label" for="email">Email</label>
              </div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                <!-- REVIEW: use a more meaningful id for this field -->
                <input class="mdl-textfield__input" type="password" id="txt-pass" />
                <label class="mdl-textfield__label" for="password">Password</label>
              </div>
              <div id="pass_confirmation" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo"  style="display: none;">
                <!-- REVIEW: use a more meaningful id for this field -->
                <input class="mdl-textfield__input" type="password" id="txt-conf"/>
                <label class="mdl-textfield__label" for="txt-conf">Confirm Password</label>
              </div>
            </form>
          </div>
          <div class="mdl-card__actions mdl-card--border text-center">
            <a id="form-btn-login" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored">
              Sign in
            </a>
            <a id="form-btn-signup" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored" style="display: none;">
              Sign up
            </a>
          </div>
        </div>
      </dialog>

    </div>
  </main>
</div>

<div class="parking-spot-details" style="display: none">
  <ul>
    <li data-attr="type"><strong>Type:</strong> <span>AAA</span></li>
    <li data-attr="parking-schedules-text" style="display: none;"><strong>Parking restrictions:</strong> <span >BBB</span></li>
    <li data-attr="parking-schedules-list" style="display: none;"><strong>Parking restrictions:</strong><ul></ul></li>
    <li data-attr="pricing-schedules-text" style="display: none;"><strong>Pricing restrictions:</strong> <span>CCC</span></li>
    <li data-attr="pricing-schedules-list" style="display: none;"><strong>Pricing restrictions:</strong><ul></ul></li>
  </ul>

  <!-- Raised button -->
  <button class="mdl-button mdl-js-button mdl-button--raised route-btn">
    Calculate route from my current location
  </button>
</div>
