<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Search box -->
      <form id="header-search" action="#" autocomplete="off">
        <div class="mdl-textfield mdl-js-textfield">
          <input id="search-field-id" class="mdl-textfield__input" type="text" name="address" autocomplete="on">
        </div>
      </form>

      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>

      <!-- Add share location button-->
      <button id="location-button" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored location-button">
        <i id="geo-icon" class="mdl-icon-toggle__label material-icons">gps_fixed</i>
      </button>

      Smart Parking
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Menu</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Login/Register</a>
      <a class="mdl-navigation__link" href="">Show filters</a>
      <a class="mdl-navigation__link" href="">Show legend</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
      <div id="map">
      </div>
      <!-- Message Display Dialog-->
      <dialog id="dialog-msg" class="mdl-dialog">
        <div class="mdl-dialog__content">
          <p></p>
        </div>
        <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
          <button id="dialog-button" type="button" class="mdl-button">Agree</button>
        </div>
      </dialog>

      <!-- Loader Display Dialog-->
      <dialog id="dialog-loader" class="mdl-dialog">
        <div class="mdl-dialog__content">
          <div class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
        </div>
      </dialog>

    </div>
  </main>
</div>
